:root {
    --navbar-fg: white;
    --navbar-bg: #702a2a;
    --navbar-bg-sep: #721b1b;
    --navbtn-bg: #9b3838;
    --navbtn-bg-hover: #b85757;
    --navbtn-bg-active: #a74444;
    --navbar-color-m: #241023;

    --pg-error: #d64545;
    --pg-warn: #dad04e;
    --pg-success: #3ece3e;
    --pg-info: white;

    --text-color-dark: #04080f;
    --link-color-dark: #122c34;
    --link-color-dark-hover: #224870;

    --pg-dark-bg: #201e1e;
    --pg-dark-fg: white;

    --pg-dark-link: #bb3939;
    --pg-dark-link-active: #b35353;

    --pg-dark-table-bg: #3b2d2d;
    --pg-dark-table-bg2: #2c2121;
    --pg-dark-table-bg-active: #523737;
    --pg-dark-table-bg-header: #6e3939;

    --pg-dark-widget: #3b2d2d;
    --pg-dark-widget-title: #534a4a;

    --pg-dark-btn: #6e3939;
    --pg-dark-btn-hover: #723535;
    --pg-dark-btn-active: #523737;

    --pg-dark-lbl: #523737;
    --pg-dark-lbl-accent: #613838;
    --pg-dark-lbl-active: #964949;


    --transition-time: 200ms;
}

.error {
    color: var(--pg-error);
    text-shadow: 0px 0px 12px var(--pg-error);
}

.warning {
    color: var(--pg-warn);
    text-shadow: 0px 0px 12px var(--pg-warn);
}

.success {
    color: var(--pg-success);
    text-shadow: 0px 0px 12px var(--pg-success);
}

.info {
    color: var(--pg-info);
    text-shadow: 0px 0px 12px var(--pg-info);
}

/* Responsive design stuff */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content {
        flex-direction: column !important;
    }
}

body {
    margin: 0px;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    background-color: var(--pg-dark-bg);
    color: var(--pg-dark-fg);
    transition-duration: var(--transition-time);
}

input {
    margin-bottom: 4px;
    margin-right: 4px;
}

a {
    text-decoration: none;
    color: var(--pg-dark-link);
    text-shadow: 0px 0px 12px var(--pg-dark-link);
    transition-duration: var(--transition-time);
}

a:active {
    color: var(--pg-dark-link-active);
    text-shadow: 0px 0px 12px var(--pg-dark-active);
}

/*
    Controls
*/

.avatar-small {
    margin: 2px;
    display: inline-flex;
    border: 2px solid var(--navbar-bg-sep);
    border-radius: 50%;
    
    width: 54px;
    height: 54px;
    overflow: hidden;
    user-select: none;
}

.avatar-small>img {
    width: 54px;
    height: auto;
    flex: 1;
}

.navbar {
    width: 100%;
    height: 64px;
    display: flex;
    position: fixed;
    top: 0%;
    background-color: var(--navbar-bg);
    color: var(--navbar-fg);
}

.spacer {
    flex: 2;
    background: #702a2a;
}

.nav-gradout {
    background: #702a2a;
    background: linear-gradient(90deg, #9b3838 0%, #702a2a 100%);
    width: 16px;
    height: 100%;
}

.nav-gradin {
    background: #702a2a;
    background: linear-gradient(90deg, #702a2a 0%, #9b3838 100%);
    width: 16px;
    height: 100%;
}

.navLogo {
    margin-right: 16px;
}

.navItem {
    height: inherit;
    flex: 0;
    flex-direction: row;
    display: inline-flex;
    align-items: center;
}

.navItem > * {
    flex: 1;
    padding-left: 16px;
    padding-right: 16px;
}

.navItem img {
    height: inherit;
}

.nav-item-wrapper {
    display: inline-flex;
    justify-items: center;
    align-items: center;
}

.nav-item-wrapper * {
    flex: 1;
}

.s-nav-button {

    display: inline-flex;
    height: inherit;
    background-color: var(--navbtn-bg);
    color: var(--navbar-fg);

    align-content: center;
    text-decoration: none;

    transition-duration: var(--transition-time);
}

.nav-button {

    min-width: 128px;

    display: inline-flex;
    height: inherit;
    background-color: var(--navbtn-bg);
    color: var(--navbar-fg);

    align-content: center;
    text-decoration: none;

    transition-duration: var(--transition-time);
}

.nav-button:hover, .s-nav-button:hover {
    background-color: var(--navbtn-bg-hover);
}

.nav-button:active, .s-nav-button:active {
    background-color: var(--navbtn-bg-active);
    outline: none;
}

.nav-button p {
    flex: 1;
    align-self: center;
    text-align: center;
    user-select: none;
}

.content {
    /* padding: 20px; */
    margin-top: 64px;
    display: flex;
    flex-direction: row;
}

.contentBodyLeft {
    flex: 1;
    padding: 8px;
}

.contentBody {
    flex: 2;
    padding: 8px;
}

.contentBodyRight {
    flex: 1;
    padding: 8px;
}

.container {
    box-shadow: 0px 0px 62px 7px var(--pg-dark-widget);
    display: block;
    width: 100%;
    background-color: var(--pg-dark-widget);
    overflow: hidden;
    margin-bottom: 16px;
}

.container-title {
    background-color: var(--pg-dark-widget-title);
    min-height: 32px;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.container-title>* {
    flex: 1;
    padding: 8px;
}

.container-body {
    min-height: 128px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.right-adjust {
    display: inline-block;
}

.right-adjust>* {
    text-align: right;
    float: right;
}

.widget>*:not(.widget-title) {
    margin: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

h1 { margin: 0px; }
h2 { margin: 0px; }
h3 { margin: 0px; }

.widget-table {
    margin: auto;
}

.widget-table > table {
    width: 100%;
}

table {
    border: none;
    border-spacing: 0px;
    table-layout: fixed;
}

td {
    text-align: center;
}

th, td {
    padding: 6px;
    border-bottom: 1px solid var(--pg-dark-table-bg-active);
}

tr {
    border: none;
}

tr:nth-child(n+2):hover {
    background-color: var(--pg-dark-table-bg-active) !important;
}

tr:nth-child(odd) {
    background-color: var(--pg-dark-table-bg);
}

tr:nth-child(even) {
    background-color: var(--pg-dark-table-bg2);
}

tr:nth-child(1) {
    background-color: var(--pg-dark-table-bg-header) !important;
}

button, input[type="submit"] {
    display: block;
    padding: 12px !important;
    color: var(--pg-dark-fg);
    background-color: var(--pg-dark-btn);
    border: none;
    transition-duration: var(--transition-time);
}

button:hover, input[type="submit"]:hover {
    background-color: var(--pg-dark-btn-hover);
}

button:active, input[type="submit"]:active {
    background-color: var(--pg-dark-btn-active);
}

input[type="text"], input[type="password"] {
    background-color: var(--pg-dark-lbl);
    border-style: none;
    padding: 8px;
    color: var(--pg-dark-fg);
    border-bottom: 4px solid var(--pg-dark-lbl-accent);

    transition-duration: var(--transition-time);
}

input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 4px solid var(--pg-dark-lbl-active);
}