.categoryList {
    display: inline-flex;
    flex-direction: row;
    flex: 4;
    overflow-x: auto;
}

.categoryButton {
    background-color: rgb(99, 83, 83);
} 

.categoryButton:hover {
    background-color: rgb(129, 96, 96);
} 

.categoryButton:active {
    background-color: rgb(56, 46, 46);
} 