:root {
    --navbar-fg: white;
    --navbar-bg: #932424;
    --navbar-bg-sep: #721b1b;
    --navbtn-bg: #a12626;
    --navbtn-bg-hover: #c53838;
    --navbtn-bg-active: #9e2828;
    --navbar-color-m: #241023;

    --text-color-dark: #04080f;
    --link-color-dark: #122c34;
    --link-color-dark-hover: #224870;

    --transition-time: 200ms;

    --pg-dark-bg: #201e1e;
    --pg-dark-fg: white;

    --pg-dark-link: rgb(187, 57, 57);
    --pg-dark-link-active: rgb(179, 83, 83);

    --pg-dark-table-bg: rgb(59, 45, 45);
    --pg-dark-table-bg2: #2c2121;
    --pg-dark-table-bg-active: #523737;
    --pg-dark-table-bg-header: #6e3939;

    --pg-dark-widget: rgb(59, 45, 45);
    --pg-dark-widget-title: rgb(83, 74, 74);

    --pg-dark-btn: #6e3939;
    --pg-dark-btn-hover: #723535;
    --pg-dark-btn-active: #523737;

    transition-duration: 200ms;
}

/* Responsive design stuff */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content {
        flex-direction: column !important;
    }
}

body {
    margin: 0px;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    background-color: var(--pg-dark-bg);
    color: var(--pg-dark-fg);
}

a {
    text-decoration: none;
    color: var(--pg-dark-link);
}

a:active {
    color: var(--pg-dark-link-active);
}

.navbar {
    width: 100%;
    height: 64px;
    display: flex;
    position: fixed;
    top: 0%;
    background-color: var(--navbar-bg);
    color: var(--navbar-fg);
}

.spacer {
    flex: 2;
}

.navLogo {
    margin-right: 16px;
}

.navItem {
    height: inherit;
    flex: 0;
    flex-direction: row;
    display: inline-flex;
    align-items: center;
}

.navItem > * {
    flex: 1;
    padding-left: 16px;
    padding-right: 16px;
}

.navItem img {
    height: inherit;
}

.navButton {

    min-width: 128px;

    display: inline-flex;
    height: inherit;
    background-color: var(--navbtn-bg);
    color: var(--navbar-fg);

    align-content: center;
    text-decoration: none;

    transition-duration: var(--transition-time);
}

.navButton:hover {
    background-color: var(--navbtn-bg-hover);
}

.navButton:active {
    background-color: var(--navbtn-bg-active);
    outline: none;
}

.navButton * {
    flex: 1;
    align-self: center;
    text-align: center;
}

.content {
    /* padding: 20px; */
    margin-top: 64px;
    display: flex;
    flex-direction: row;
}

.contentBodyLeft {
    flex: 1;
    padding: 8px;
}

.contentBody {
    flex: 2;
    padding: 8px;
}

.contentBodyRight {
    flex: 1;
    padding: 8px;
}

.widget {
    box-shadow: 0px 0px 62px 7px var(--pg-dark-widget);
    display: block;
    width: 100%;
    background-color: var(--pg-dark-widget);
    overflow: hidden;
    margin-bottom: 16px;
}

.widget-title {
    background-color: var(--pg-dark-widget-title);
    min-height: 32px;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.widget-title * {
    flex: 1;
    padding: 8px;
}

.widget>*:not(.widget-title) {
    margin: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

h1 { margin: 0px; }
h2 { margin: 0px; }
h3 { margin: 0px; }

.widget-table {
    margin: auto;
}

.widget-table > table {
    width: 100%;
}

table {
    border: none;
    border-spacing: 0px;
    table-layout: fixed;
}

td {
    text-align: center;
}

th, td {
    padding: 6px;
    border-bottom: 1px solid var(--pg-dark-table-bg-active);
}

tr {
    border: none;
}

tr:nth-child(n+2):hover {
    background-color: var(--pg-dark-table-bg-active) !important;
}

tr:nth-child(odd) {
    background-color: var(--pg-dark-table-bg);
}

tr:nth-child(even) {
    background-color: var(--pg-dark-table-bg2);
}

tr:nth-child(1) {
    background-color: var(--pg-dark-table-bg-header) !important;
}

button {
    display: block;
    padding: 12px !important;
    color: var(--pg-dark-fg);
    background-color: var(--pg-dark-btn);
    border: none;
}

button:hover {
    background-color: var(--pg-dark-btn-hover);
}

button:active {
    background-color: var(--pg-dark-btn-active);
}